body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}



#counter {
    font-size: 2em;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #b20710;
}
